<h4> Editing <%= @student.name %>'s profile</h4>
<%= form_tag(student_path(@student), method: "put") do %>
  <%= label :student, :graduation_year, 'Graduation year' %>
  <%= text_field :student, :graduation_year %>
  <%= label :student, :additional_information, 'Additional information' %>
  <%= text_area :student, :additional_information %>
  <%= submit_tag("Update") %>
<% end %>
