<h4>
<% if @student.firstName.nil? || @student.firstName.empty? %>
New profile creation
<% else %>
Editing <%= @student.firstName %> <%= @student.lastName %>'s profile
<% end %>
</h4>

<%= form_tag(student_path(@student), method: "put") do %>
  <ul style="list-style-type:none;">
    <li>
      <%= label :student, :firstName, 'First name:' %>
      <%= text_field :student, :firstName %>
    <li>
      <li>
        <%= label :student, :lastName, 'Last name:' %>
        <%= text_field :student, :lastName %>
      <li>
      <%= label :student, :graduationMonth, 'Graduation Month:' %>
      <%= select :student, :graduationMonth, @months %>
    </li>
    <li>
      <%= label :student, :graduationYear, 'Graduation Year:' %>
      <%= select :student, :graduationYear, @years %>
    </li>
    <li>
      <%= label :student, :bioText, 'Additional information' %>
      <%= text_area :student, :bioText %>
    </li>
    <li>
      <%= label :student, :locationPreference1, 'Location preference 1:' %>
      <%= text_field :student, :locationPreference1 %>
    </li>
    <li>
      <%= label :student, :locationPreference2, 'Location preference 2:' %>
      <%= text_field :student, :locationPreference2 %>
    </li>
    <li>
      <%= label :student, :locationPreference3, 'Location preference 3:' %>
      <%= text_field :student, :locationPreference3 %>
    </li>
    <li>
      <%= label :student, :fullTime, 'Full & Part time' %>
      <%= radio_button :student, :availability, 'Full & Part time' %>
    </li>
    <li>
      <%= label :student, :fullTime, 'Full time' %>
      <%= radio_button :student, :availability, 'Full time' %>
    </li>
    <li>
      <%= label :student, :partTime, 'Part time' %>
      <%= radio_button :student, :availability, 'Part time' %>
    </li>
  <%= submit_tag("Update") %>
  </ul>
<% end %>
