<h4> Profile for <%= @student.firstName %> <%= @student.lastName%> </h4>
<ul style="list-style-type:none;">
  <li>
    <div>
      Expected graduation date:
      <%= @student.graduationMonth%> <%= @student.graduationYear%>
    </div>
  </li>
  <li>
    Additional information:
    <%= @student.bioText %>
  </li>
  <li>
    <div>
      Location preferences:
      <%= @student.locationPreference1 %>
      <%= @student.locationPreference2 %>
      <%= @student.locationPreference3 %>
    </div>
  </li>
  <li>
    <div>
      Availability: <%= @student.availability %>
    </div>
  </li>
  <li>
    <% unless @student.resumeLink.nil? || @student.resumeLink.empty? %>
    <div>
      <%= link_to 'Resume Link', @student.resumeLink, :class => 'btn btn-primary col-2'%>
    </div>
    <%end%>
  </li>

</ul>
<%= link_to 'Edit', edit_student_path(@student), :class => 'btn btn-primary col-2'%>
<%= link_to 'Log Out', logoutredirect_path, :class => 'btn btn-primary col-2'%>
